*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 10000s ease-in-out 0s;
}

button,
input,
optgroup,
select,
textarea {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
	font: inherit; /* По дефолту, шрифтовые свойства, для этих элементов не наследуются */
	color: inherit;
	letter-spacing: inherit;

	// убирает чекбокс
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

button,
input {
	overflow: visible;
}
