$color-white: #fff;
$color-white-line: #fafafa;
$color-cream: #f7edde;
$color-hover: #eed9ad;
$color-cream-two: #e8c199;
$color-cream-three: #f8b982;
$color-shadow: rgba(252, 192, 130, 0.6);

$color-error: #f15353;

$color-button: linear-gradient(0deg, #f7bb7d -9.37%, #ffc386 130.62%);

$color-stages-number: linear-gradient(0deg, #e5bb8f -9.37%, #efd3b4 130.62%);

$color-bg-slider: linear-gradient(179.15deg, rgba(14, 14, 14, 0.8) -19.49%, rgba(35, 34, 34, 0) 144.85%);

$color-offer-before: linear-gradient(180deg, rgba(211, 176, 137, 0.41) 0%, rgba(234, 209, 184, 0.41) 100%);

$color-bg-menu: rgba(22, 27, 36, 0.5);
$color-btn-text: #393939;
$color-mobile-list: #cfcfcf;

$color-gray: #9c9595;

$color-offer: #343435;

$color-black-gray: #4b4949;

$color-black-two: #3c3938;

$color-bg-main: linear-gradient(204.8deg, #383838 22.99%, #232323 91.5%);

$color-modal-bg: rgba(61, 60, 60, 0.35);
$color-modal: #474747;

$color-modal-input: #757575;
$color-modal-text: #bcbaba;

$color-decor-one: rgba(252, 192, 130, 0.14);
$color-decor-two: rgba(252, 192, 130, 0.34);
$color-decor-three: rgba(252, 192, 130, 0.5);
