.footer {
  padding: 59px 0 35px;
  background-color: $black-800;
  color: $white-900;

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 45px;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black-700;
      opacity: 0.5;
    }
  }

  &__column {
    position: relative;
    width: 290px;
    height: 273px;
    flex-shrink: 0;

    &-title {
      display: inline-block;
      font-family: $font-rm;
      margin-bottom: 27px;
      color: $white-900;
    }

    &-item:not(:last-child) {
      margin: 0px 0px 12px;
    }

    &-list {
      width: 205px;
    }

    &-link {
      color: $white-900;
      font-family: $font-rr;
      font-size: 14px;
      line-height: 21px;
      opacity: 0.7;
      transition: opacity 0.3s linear;

      &:hover {
        opacity: 1;
      }
    }

    &-social {
      position: absolute;
      bottom: 0;

      & .footer__column-title {
        margin-bottom: 16px;
      }
    }

    &-socialnetwork {
      display: flex;
      align-items: center;

      .header__contact-link {
        opacity: 1;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;

    &-logo {
      margin-bottom: 35px;
    }

    &-copyright {
      font-size: 12px;
      line-height: 16px;
      color: $gray-900;
      font-family: $font-rr;
      max-width: 450px;
    }

    &-politics {
      display: block;
      color: $gray-900;
      transition: color 0.3s linear;

      &:hover {
        color: $white-900;
      }
    }

    &-contact {
      width: 290px
    }

    &-phone {
      margin-bottom: 24px;
    }

    &-link {
      color: $white-900;
      font-size: 20px;
      font-family: $font-rr;

      & span {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          border-top: 1px dashed $white-900;
          bottom: -3px;
          left: 0;
          height: 1px;
          width: 100%;
          opacity: 0.5;
          transition: opacity 0.3s linear;
        }

        &:hover {
          &:after {
            opacity: 1;
          }
        }
      }
    }

    &-call {
      display: inline-block;
      margin-top: 8px;
      font-size: 12px;
      color: $white-900;
      opacity: 0.7;
      font-family: $font-rr;
    }

    &-payment {
      display: flex;
      align-items: center;

      & svg:not(:last-child) {
        margin-right: 32px;
      }
    }
  }
}