//MY VARIABLES

$font-rr: "RobotoRegular", sans-serif;
$font-rm: "RobotoMedium", sans-serif;
$font-rb: "RobotoBold", sans-serif;

//media
$xs: 0;
$sm: 480px;
$md: 736px;
$md-tablet: 768px;
$lg: 1132px;
$xl: 1400px;


//primary

$primary-950: #122E82;
$primary-900: #1B3992;
$primary-800: #2D499A;
$primary-700: #3A5AB7;
$primary-300: #DDE6FF;
$primary-200: #F3F4FF;
$primary-100: #F1F5F9;
$primary-50: #F8FAFC;

//gradient
//$gradient-900: linear-gradient(91.27deg, #274397 0%, #0A2A89 100%);
//$gradient-800: linear-gradient(90deg, #94AFFF 2.76%, #5983FF 97.32%);

//calculator
//$calculator-basic: linear-gradient(90deg, #5983FF 2.76%, #6B8FFB 97.32%);


//white
$white-900: #fff;
$white-800: #F5F5FA;

//black
$black-700: #485671;
$black-800: #252C38;
$black-900: #000;

//secondary
$blue: #074BC7;
$green: #208737;

//gray
$gray: #B4B7BB;
$gray-900: #93959B;

$contact-header: rgba(37, 44, 56, 0.2);
$color-btn: linear-gradient(90deg, #F55F0B 0%, #F5970B 100%, #F5970B 100.01%);
