@font-face {
  font-family: "RobotoRegular";
  src: url("./../fonts/RobotoRegular.ttf");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("./../fonts/RobotoMedium.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("./../fonts/RobotoBold.ttf");
}