@font-face {
  font-family: "RobotoRegular";
  src: url("./../fonts/RobotoRegular.ttf");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("./../fonts/RobotoMedium.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("./../fonts/RobotoBold.ttf");
}

@font-face {
  font-family: "FiraSansBold";
  src: url("./../fonts/FiraSansBold.ttf");
}

@font-face {
  font-family: "FiraSansExtraBold";
  src: url("./../fonts/FiraSansExtraBold.ttf");
}