//
//
////button
//
//.btn {
//  font-weight: 500;
//  line-height: 24px;
//  padding: 8px 24px;
//  border-radius: 4px;
//  box-shadow: none !important;
//  outline: none !important;
//  @include transition;
//  &:not(.btn-light) {
//    color: $white;
//    &:hover,
//    &:not(:disabled):not(.disabled).active,
//    &:not(:disabled):not(.disabled):active,
//    &:active {
//      color: $white;
//    }
//  }
//  &-block {
//    width: 100%;
//    display: block;
//    &-mob {
//      @media (max-width: $nodesk) {
//        width: 100%;
//        display: block;
//      }
//    }
//  }
//  &-primary {
//    color: $white;
//    background-color: $primary-900;
//    &:hover {
//      color: $white;
//      background-color: $primary-800;
//    }
//    &:not(:disabled):not(.disabled).active,
//    &:not(:disabled):not(.disabled):active,
//    &:active {
//      color: $white;
//      background-color: $primary-950;
//    }
//  }
//  &-light {
//    background-color: $primary-200;
//    color: $primary-900;
//    &:hover {
//      color: $white;
//      background-color: $primary-700;
//    }
//    &:not(:disabled):not(.disabled).active,
//    &:not(:disabled):not(.disabled):active,
//    &:active {
//      color: $white;
//      background-color: $primary-950;
//    }
//  }
//  &:not(.btn-outline) {
//    border: none !important;
//  }
//  &.btn-sm {
//    font-size: 13px;
//    line-height: 20px;
//    padding: 6px 16px;
//  }
//  &.btn-lg {
//    padding: 12px 24px;
//  }
//  &.btn-mob-full {
//    @media (max-width: $md) {
//      width: 100%;
//    }
//  }
//
//  &.btn--width{
//    min-width: 160px;
//    &-sm {
//      min-width: 108px;
//    }
//    @media (max-width: $nodesk) {
//      width: 100%;
//      max-width: -webkit-fill-available;
//    }
//  }
//}
//.btn-warning {
//  color: $white !important;
//}
//.btn-block+.btn-block {
//  margin-top: 12px;
//}
//
//
////input
//
//input::-webkit-input-placeholder {
//  color: $black-400 !important;
//  font-weight: 400 !important;
//}
//input::-moz-placeholder {
//  color: $black-400 !important;
//  font-weight: 400 !important;
//}
//input:-moz-placeholder {
//  color: $black-400 !important;
//  font-weight: 400 !important;
//}
//input:-ms-input-placeholder {
//  color: $black-400 !important;
//  font-weight: 400 !important;
//}
//textarea::-webkit-input-placeholder {
//  color: $black-400 !important;
//  font-weight: 400 !important;
//}
//textarea::-moz-placeholder {
//  color: $black-400 !important;
//  font-weight: 400 !important;
//}
//textarea:-moz-placeholder {
//  color: $black-400 !important;
//  font-weight: 400 !important;
//}
//textarea:-ms-input-placeholder {
//  color: $black-400 !important;
//  font-weight: 400 !important;
//}
//input:focus::-webkit-input-placeholder{color:transparent;transition:all .5s ease}input:focus::-moz-placeholder{color:transparent;transition:all .5s ease}input:focus:-moz-placeholder{color:transparent;transition:all .5s ease}input:focus:-ms-input-placeholder{color:transparent;transition:all .5s ease}textarea:focus::-webkit-input-placeholder{color:transparent;-webkit-transition:all .5s ease;-o-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}textarea:focus::-moz-placeholder{color:transparent;-webkit-transition:all .5s ease;-o-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}textarea:focus:-moz-placeholder{color:transparent;-webkit-transition:all .5s ease;-o-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}textarea:focus:-ms-input-placeholder{color:transparent;-webkit-transition:all .5s ease;-o-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}
//
//
////input fields
//
//.form-group {
//  margin-bottom: 16px;
//}
//.form-control {
//  padding: 0 20px;
//  height: 44px;
//  font-size: 13px;
//  line-height: 20px;
//  background-color: $primary-200;
//  border-color: transparent;
//  @include transition;
//  &.btn-sm {
//
//  }
//  &.form-control-lg {
//    height: 44px;
//    @include media-breakpoint-up(sm) {
//      height: 50px;
//    }
//  }
//  &:focus {
//    color: $black-900;
//    background-color: $primary-200;
//    border-color: $primary-900;
//    outline: 0;
//    box-shadow: none;
//  }
//  &:disabled {
//    opacity: .5;
//    background-color: $primary-200;
//  }
//  &.is-invalid {
//    border-color: $red-900;
//    background-color: $red-100;
//    //border-color: transparent;
//    //background-color: $orange-100;
//    background-image: none;
//    box-shadow: none !important;
//  }
//  &.is-valid {
//    background-color: $primary-200;
//    color: $black-900;
//    background-image: none;
//    box-shadow: none !important;
//    border-color: transparent !important;
//  }
//  &--sum {
//    display: block;
//    width: 100%;
//    .form-control {
//      padding-right: 72px;
//    }
//    &_btn {
//      position: absolute;
//      top: 50%;
//      right: 20px;
//      z-index: 1;
//      transform: translateY(-50%);
//      font-size: 13px;
//      line-height: 20px;
//      color: $primary-900;
//      border-bottom: 1px dashed $primary-900;
//      &:hover {
//        color: $primary-700;
//        border-color: $primary-700;
//      }
//    }
//  }
//}
//
//.form-group__qr {
//  width: 144px;
//  margin-right: 12px;
//  max-width: calc(50% - 12px);
//  &:last-child {
//    margin-right: 0;
//  }
//}
//
//.form-label {
//  font-size: 13px;
//  line-height: 20px;
//  font-weight: 500;
//  margin-bottom: 4px;
//  display: block;
//}
//
//.invalid-feedback {
//  margin-top: 4px;
//  font-size: 11px;
//  color: $red;
//  font-weight: 500;
//}
//
////check
//
//.form-check {
//  color: $black-500;
//  line-height: 24px;
//  padding-left: 0;
//  margin-left: 0;
//  margin-top: 4px;
//  margin-bottom: 16px;
//  min-height: 24px;
//  &:hover {
//    color: $black-900;
//  }
//  .form-check-input {
//    position: absolute;
//    margin-top: 0;
//    margin-left: 0;
//    top: 0;
//    left: 0;
//    width: 24px;
//    height: 24px;
//    z-index: 2;
//    cursor: pointer;
//    opacity: 0;
//    float: none;
//  }
//  &-label {
//    margin-left: 0;
//    padding-left: 32px;
//    display: block;
//    font-weight: 400;
//    &:before {
//      content: '';
//      position: absolute;
//      width: 24px;
//      height: 24px;
//      border: 2px solid $primary-900;
//      left: 0;
//      top: 0;
//      background-repeat: no-repeat;
//      background-position: center;
//      @include transition;
//    }
//  }
//  input:checked {
//    & + .form-check-label {
//      &:before {
//        background-image: url(../img/icons/icon-check.svg);
//        background-size: 10px auto;
//        background-color: $primary-900;
//      }
//    }
//  }
//  input:disabled {
//    & + .form-check-label {
//      opacity: .5;
//    }
//  }
//  input.is-invalid {
//    & + label {
//      &:before {
//        border-color: $orange-900;
//        background-color: $orange-100;
//      }
//    }
//    &:checked {
//      & + .form-check-label {
//        color: $black-500;
//        &:before {
//          border-color: $primary-900;
//          background-color: $primary-900;
//        }
//      }
//    }
//  }
//  input[type="checkbox"] {
//    & + .form-check-label {
//      &:before {
//        border-radius: 2px;
//      }
//    }
//  }
//  input[type="radio"] {
//    & + .form-check-label {
//      &:before {
//        border-radius: 50%;
//      }
//    }
//  }
//
//  &-sm {
//    font-size: 13px;
//    line-height: 20px;
//    min-height: 22px;
//    .form-check-input {
//      width: 20px;
//      height: 20px;
//    }
//    .form-check-label {
//      &:before {
//        width: 20px;
//        height: 20px;
//      }
//    }
//  }
//
//}
//
//
////select
//
//.form-select {
//  label {
//    font-size: 13px;
//    line-height: 20px;
//    font-weight: 500;
//    margin-bottom: 4px;
//  }
//}
//
//
